.box {
  display: flex;
  padding: 12px;
  gap: 12px;
}

.thumbnail_box {
  width: 180px;
  flex-shrink: 0;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.875rem;
}

.info_box > div {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.title {
  color: var(--gray100);
  font-weight: 500;
  font-size: 1.25rem;
}

.hashtags {
  margin: 0;
  color: var(--gray300);
}
