.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading > h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.sub_heading {
  margin-bottom: 8px;
  color: var(--gray600);
  font-size: 0.875rem;
}

.no_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--gray600);
  font-size: 0.875rem;
}
