.container {
  display: flex;
  gap: 60px;
}

.heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.5rem;
}

.sub_heading {
  margin-bottom: 8px;
  color: var(--gray600);
  font-size: 0.875rem;
}

.left_box {
  flex: 2 1 350px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left_box.share {
  flex: 1;
}

.subject_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.subject_box > span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 48px;
}

.right_box {
  flex: 3 1 470px;
}

.right_box.share {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 4px;
  }
}
