.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading > h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.sub_heading {
  color: var(--gray600);
  font-size: 0.875rem;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nickname {
  margin: 28px 16px;
  font-size: 1.25rem;
  font-weight: 500;
}

.delete_btn {
  margin: 22px 53px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: var(--gray900);
  color: var(--gray600);
}
