.container {
  display: flex;
}

.container > aside {
  flex: 1;
}

.container > main {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.5rem;
}

@media screen and (max-width: 768px) {
  .container > aside {
    display: none;
  }
}
